/* Pagina de Bienvenido*/
.bienvenido {
    height: 100vh;
}

.bienvenido h1 {
    font-size: 150%;
    font-weight: bold;
    color: #EFB63D;
    margin-top: 10%;
}

.bienvenido h2 {
    font-size: 200%;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    color: rgb(7, 46, 72);
    margin-top: 40%;
}

.bienvenido h3 {
    font-size: 100%;
    font-weight: bold;
    color: rgb(7, 46, 72);
    margin-top: 10%;
}

.confirmar {
    position: absolute;
    width: 90vw;
    height: 6vh;
    margin-left:auto;
    margin-right: auto;
    background-color: #EFB63D;
    border-color: #EFB63D;
    bottom:0;
    margin-bottom: 0%;
}

.confirmar:link {
    background-color: #EFB63D !important;
    border-color: #EFB63D !important;
  }

.confirmar:visited {
    background-color: #EFB63D !important;
    border-color: #EFB63D !important;
  }

.confirmar:hover {
    background-color: #EFB63D !important;
    border-color: #EFB63D !important;
  }

.confirmar:active {
    background-color: #EFB63D !important;
    border-color: #EFB63D !important;
  }

.confirmar:focus {
    background-color: #EFB63D !important;
    border-color: #EFB63D !important;
  }

.boton-ordenar {
    position: absolute;
    width: 99vh;
    margin-left: auto;
    margin-right: auto;
    bottom:0;
    margin-bottom: 5%;
}

.mesa {
    margin-left:auto;
    margin-right: auto;
    width: 20%;
  }

.boton-logo {
    display: block;
    position: absolute;
    left: 0;
    margin-left: 25%;
    width: 50%;
    bottom: 0;
    margin-bottom: 15%;
  }

.logo {
    display: block;
    position: absolute;
    left: 0;
    margin-left: 25%;
    width: 50%;
    bottom: 0;
    margin-bottom: -10%;
}

/* Pagina de Detalle Platillo*/

.boton-back {
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 15px;
    margin-top: 15px;
    background-color: #efb73de1;
    border-color: #efb73de1;
}

.boton-back:link {
    background-color: #EFB63D;
    border-color: #EFB63D;
  }

  .boton-back:visited {
    background-color: #EFB63D;
    border-color: #EFB63D;
  }

.boton-back:hover {
    background-color: #EFB63D;
    border-color: #EFB63D;
  }

.boton-back:active {
    background-color: #EFB63D;
    border-color: #EFB63D;
  }

.boton-back:focus {
    background-color: #EFB63D;
    border-color: #EFB63D;
  }

.detalle-platillo {
    padding-right: 0%  !important;
    padding-left: 0% !important;
}
.platillo h1 {
    font-size: 100%;
    font-weight: bold;
    color: rgb(7, 46, 72);
}

.platillo h2 {
    font-size: 100%;
    color:  rgb(7, 46, 72);
}

.platillo h3 {
    font-size: 110%;
    color: #EFB63D;
}

.imagen-detalle {
    width: 100%;
    height: auto;
    border-radius: 5%;
}

.platillo {
    width: 100vw;
    height: 100%;
    margin-top: 0%;
    padding-left: 0px !important;  
    padding-right: 0px !important; 
    margin-left: 0px !important;
}
.row-malita{
    padding-right: 0%  !important;
}

.input-cantidad {
    width: 40%;
    left: 100;
    margin-left: 175%;
    margin-top: -22%; 
}

.form-cantidad {
    width: 100%;
}

.input-notas {
    width: auto;
    margin-left: 3%;
    margin-right: auto;
}
.input-notas-texto {
width: 85vw;
height: 10vh;
margin-left: auto;
margin-right: auto;
flex-wrap:wrap;
}

/* Pagina de Orden*/

.orden {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.platillos {
    overflow: auto;
    height: 63vh;
}

.titulo-carrito {
    position: relative;
    
}

.carrito {
    color: #EFB63D;
    margin-left: auto;
    margin-top: 2%;
    margin-right: 20%;
    transform: scale(1.5);
    position: absolute;
    right: 0;
}

.menos {
    color: #EFB63D;
    position: absolute;
    right: 0;
    margin-right: 20%;
}

.platillo-orden-cantidad {
    position: absolute;
    right: 0;
    margin-right: 14%;
}

.mas {
    color: #EFB63D;
    position: absolute;
    right: 0;
    margin-right: 2%;
}

.orden h1 {
    font-size: 100%;
    font-weight: bold;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: rgb(7, 46, 72);
}

.orden h2 {
    font-size: 80%;
    margin-left: auto;
    margin-right: auto;
    color: rgb(7, 46, 72);
}

.orden h3 {
    font-size: 100%;
    font-weight: bold;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    color: rgb(7, 46, 72);
}

.platillo-orden {
    flex-direction: row;
}

.notas-titulo {
    position: absolute;
    bottom:0;
    margin-bottom: 40%;
}

.notas-texto {
    position: absolute;
    bottom:0;
    margin-bottom: 35%;
}

.total {
    flex-direction: row;
    position: absolute;
    bottom:0;
    margin-bottom: 25%;
    background-color: white;
}
.total-texto {
    right: 0;
}

/* Pantalla de Estatus */

.logo-estatus {
    position: absolute;
    bottom:0;
    margin-bottom: 15%;
}

.logo-texto {
    position: absolute;
    bottom:0;
    margin-bottom: 43%;
}

.estatus h1 {
    font-size: 150%;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    color: rgb(7, 46, 72);
    margin-top: 25%;
    text-align: center;
}

.estatus h2 {
    font-size: 100%;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    color: rgb(7, 46, 72);
    margin-top: 10%;
    text-align: center;
}

.estatus h3 {
    font-size: 100%;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    color: rgb(7, 46, 72);
    margin-top: 10%;
    text-align: center;
}