/* Pagina de Bienvenido*/
.bienvenido {
  height: 100vh;
}

.bienvenido h1 {
  font-size: 150%;
  font-weight: bold;
  color: #efb63d;
  margin-top: 10%;
}

.bienvenido h2 {
  font-size: 200%;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  color: rgb(7, 46, 72);
  margin-top: 40%;
}

.bienvenido h3 {
  font-size: 100%;
  font-weight: bold;
  color: rgb(7, 46, 72);
  margin-top: 10%;
}

.confirmar {
  position: fixed;
  width: 90vw;
  height: 6vh;
  margin-left: auto;
  margin-right: auto;
  background-color: #efb63d;
  border-color: #efb63d;
  bottom: 0;
  margin-bottom: 3%;
}

.confirmar:link {
  background-color: #efb63d !important;
  border-color: #efb63d !important;
}

.confirmar:visited {
  background-color: #efb63d !important;
  border-color: #efb63d !important;
}

.confirmar:hover {
  background-color: #efb63d !important;
  border-color: #efb63d !important;
}

.confirmar:active {
  background-color: #efb63d !important;
  border-color: #efb63d !important;
}

.confirmar:focus {
  background-color: #efb63d !important;
  border-color: #efb63d !important;
}

.boton-ordenar {
  position: absolute;
  width: 99vh;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  margin-bottom: 5%;
}
.boton-ordenar {
  position: absolute;
  width: 99vh;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  margin-bottom: 5%;
}

.mesa {
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.boton-logo {
  display: block;
  position: absolute;
  left: 0;
  margin-left: 25%;
  width: 50%;
  bottom: 0;
  margin-bottom: 15%;
}

.logo {
  display: block;
  position: absolute;
  left: 0;
  margin-left: 25%;
  width: 50%;
  bottom: 0;
  margin-bottom: -10%;
}

/* Pagina de Detalle Platillo*/

.boton-back {
  position: fixed;
  left: 0;
  top: 0;
  margin-left: 15px;
  margin-top: 15px;
  background-color: #efb73de1;
  border-color: #efb73de1;
}

.boton-back:link {
  background-color: #efb63d;
  border-color: #efb63d;
}

.boton-back:visited {
  background-color: #efb63d;
  border-color: #efb63d;
}

.boton-back:hover {
  background-color: #efb63d;
  border-color: #efb63d;
}

.boton-back:active {
  background-color: #efb63d;
  border-color: #efb63d;
}

.boton-back:focus {
  background-color: #efb63d;
  border-color: #efb63d;
}
.platillo-individual {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  height: 100vh;
}

.detalle-platillo {
  padding-right: 0% !important;
  padding-left: 0% !important;
}
.platillo h1 {
  font-size: 100%;
  font-weight: bold;
  color: rgb(7, 46, 72);
}

.platillo h2 {
  font-size: 100%;
  color: rgb(7, 46, 72);
}

.platillo h3 {
  font-size: 110%;
  color: #efb63d;
}

.imagen-detalle {
  width: 100%;
  height: auto;
  border-radius: 5%;
}

.platillo {
  width: 100vw;
  height: 100%;
  margin-top: 0%;
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-left: 0px !important;
}
.row-malita {
  padding-right: 0% !important;
}

.input-cantidad {
  width: 40%;
  left: 100;
  margin-left: 175%;
  margin-top: -22%;
}

.form-cantidad {
  width: 100%;
}

.input-notas {
  width: auto;
  margin-left: 3%;
  margin-right: auto;
  height: 30vh;
}
.input-notas-texto {
  width: 85vw;
  height: 20vh !important;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
}

/* Pagina de Orden*/

.orden {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.platillos {
  overflow: auto;
  height: 63vh;
  margin-top: 3%;
}

.precio {
  left: 0;
}

.titulo-carrito {
  position: relative;
}

.carrito {
  color: #efb63d;
  margin-left: auto;
  margin-top: 2%;
  margin-right: 20%;
  transform: scale(1.5);
  position: absolute;
  right: 0;
}

.menos {
  color: #efb63d;
  position: absolute;
  right: 0;
  margin-right: 20%;
}

.platillo-orden-cantidad {
  position: absolute;
  right: 0;
  margin-right: 14%;
}

.mas {
  color: #efb63d;
  position: absolute;
  right: 0;
  margin-right: 2%;
}

.orden h1 {
  font-size: 100%;
  font-weight: bold;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: rgb(7, 46, 72);
}

.orden h2 {
  font-size: 80%;
  margin-left: auto;
  margin-right: auto;
  color: rgb(7, 46, 72);
}

.orden h3 {
  font-size: 100%;
  font-weight: bold;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  color: rgb(7, 46, 72);
}

.platillo-orden {
  flex-direction: row;
}

.notas-titulo {
  position: absolute;
  bottom: 0;
  margin-bottom: 40%;
}

.notas-texto {
  position: absolute;
  bottom: 0;
  margin-bottom: 35%;
}

.total {
  flex-direction: row;
  position: absolute;
  bottom: 0;
  margin-bottom: 25%;
  background-color: white;
}
.total-texto {
  right: 0;
}

/* Pantalla de Estatus */

.logo-estatus {
  position: absolute;
  bottom: 0;
  margin-bottom: 15%;
}

.logo-texto {
  position: absolute;
  bottom: 0;
  margin-bottom: 43%;
}

.estatus h1 {
  font-size: 150%;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  color: rgb(7, 46, 72);
  margin-top: 25%;
  text-align: center;
}

.estatus h2 {
  font-size: 100%;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  color: rgb(7, 46, 72);
  margin-top: 10%;
  text-align: center;
}

.estatus h3 {
  font-size: 100%;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  color: rgb(7, 46, 72);
  margin-top: 10%;
  text-align: center;
}

.resumen-orden-card {
  overflow: auto;
  width: 90%;
  height: 40vh;
}

.nombre-platillo {
  font-weight: bold;
}

.comentatrios-platillo {
  font-size: small;
}
