.menu-principal h1 {
  font-size: 150%;
  font-weight: bold;
  color: rgb(7, 46, 72);
  margin-left: 5%;
  margin-top: 3%;
}

.menu-principal h2 {
  font-size: 120%;
  font-weight: bold;
  color: #efb63d;
  margin-left: 5%;
}

.menu-principal h3 {
  font-size: 100%;
  font-weight: bold;
  color: rgb(7, 46, 72);
}

.menu-principal p {
  font-size: 75%;
  color: rgba(7, 46, 72, 0.685);
  margin-left: 5%;
}

.menu-principal p1 {
  font-size: 95%;
  color: rgba(7, 46, 72, 0.685);
  margin-left: 0%;
}

.searchbar {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}

.badge {
  background-color: #efb63d;
}

.contenedor-platillo {
  margin-left: -5%;
}

.imagen-platillo {
  border-radius: 30%;
  width: auto;
}

.carrito-menu {
  color: #efb63d;
  margin-left: auto;
  margin-top: 7%;
  margin-right: 7%;
  transform: scale(1.5);
  position: absolute;
  right: 0;
  top: 0;
}
